body {
  background-color: black;
  color: white;
  font-size: 15px;
  width: 100vw;
  height: 100vh;
  margin-left:auto;
  margin-right:auto;
   overflow: hidden;
}

h1 {
  font-size: 40px;
}
#moonPhase {
  display:block;
  position:absolute;
  top:70%;
  left:90%;
  transform: scale(4);
  width: 600px;
  height: 400px;
  margin:10px;
  z-index: -1;
}

#moonAge {
  position:relative;
  top: 72%;
  left: 60%;
}

#moonShade {
  transition: 3.6s ease;
}
#calculatorContainer{
  display:block;
  width: 700px;
  margin: 7% 30% 0 auto;
}

input {
  background-color: black;
  color: white;
  outline: 1px solid white;
  font-size: 20px;
  width: 400px;
}
button {
  background-color: black;
  color: white;
  outline: 1px solid white;
  font-size: 20px;
}
span, p {
  background-color: hsla(0,0%,0%,.6);
  color: white;
  font-size: 20px;
  width: min-content;
}
