body {
  background-color: black;
  color: white;
  font-size: 19px;
  width: 100%;
  height: 100%;
  margin: 0 0 0 0;
}
#everythingContainer{
  display:grid;
  grid: 'calc moon moon';
  width: 60%;
  height: 50%;
  margin: 100px auto auto auto;
}
#calculatorContainer{
  grid-area: calc;
  display:block;
  width: 275px;
  margin: 0 auto 0 auto;
  z-index: 1;
}
button {
  background-color: black;
  color: white;
  outline: 1px solid white;
  font-size: inherit;
}
span, p {
  background-color: hsla(0,0%,0%,.6);
  color: white;
  text-align: left;
}
#moonContainer{
  grid-area: moon;
  margin-top:50px;
}
#moonPhase {
  transform: scale(4);
  height: 150px;
  width: 200px;
}
#moonAge {
  display:block;
  top: 10px;
  width: 280px;
  z-index: 1;
}
#moonIllum {
  transition: 3.6s ease;
}
